<div>
    <nav class="navbar border">
        <div class="container-fluid">
            <div>
                <h5 class="fw-bold">Medicines</h5>
                <small class="text-muted">{{ medicines.length }} total records</small>
            </div>
            <div class="d-flex align-items-center gap-3 ms-auto">

                <select class="form-select border-0 text-secondary bg-light" style="width: 150px;"
                    ng-model="filterCategory">
                    <option value="">All Categories</option>
                    <option value="antibiotics">Antibiotics</option>
                    <option value="analgesics">Analgesics</option>
                    <option value="vitamins">Vitamins</option>
                    <option value="digestive">Digestive</option>
                    <option value="dermatology">Dermatology</option>
                </select>

                <select class="form-select border-0 text-secondary bg-light" style="width: 150px;"
                    ng-model="filterStatus">
                    <option value="">All Statuses</option>
                    <option value="In Stock">In Stock</option>
                    <option value="Low Stock">Low Stock</option>
                    <option value="Out of Stock">Out of Stock</option>
                    <option value="Expired">Expired</option>
                </select>

                <div class="input-group" style="width: 250px;">
                    <span class="input-group-text bg-light">
                        <i class="bi bi-search text-muted" style="font-size: 13px;"></i>
                    </span>
                    <input type="text" class="form-control bg-light border-start-0" placeholder="Search medicines..."
                        ng-model="searchQuery">
                </div>

                <button class="btn btn-light position-relative rounded-circle" style="width:38px; height:38px;">
                    <i class="bi bi-bell"></i>
                </button>
            </div>
        </div>
    </nav>

    <div class="card border rounded-3 mt-3 bg-white">
        <div class="card-body p-4">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h2>All Medicines</h2>
                <a href="#!/medicine-form" class="btn btn-primary" ng-if="currentUser.role === 'Admin'"> + Add
                    Medicine</a>
                <div ng-if="currentUser.role !== 'Admin'" class="btn btn-primary"> + Add Medicine
                </div>
            </div>

            <div class="table-responsive" ng-if="medicines.length > 0 && getPagedMedicines().length > 0">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Form</th>
                            <th>Status</th>
                            <th>QTY</th>
                            <th>Price</th>
                            <th>Expiry Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="medicine in getPagedMedicines()">
                            <td>
                                <div class="fw-bold text-dark">{{ medicine.name }}</div>
                                <small class="text-muted">{{ medicine.strength }}</small>
                            </td>
                            <td>{{ medicine.category }}</td>
                            <td>{{ medicine.dosage_form }}</td>
                            <td>
                                <span class="badge rounded-pill px-3 py-1" ng-class="{
                                    'bg-success': getStatus(medicine) === 'In Stock',
                                    'bg-warning': getStatus(medicine) === 'Low Stock',
                                    'bg-danger': getStatus(medicine) === 'Out of Stock',
                                    'bg-secondary': getStatus(medicine) === 'Expired'}">
                                    {{ getStatus(medicine) }}
                                </span>
                            </td>
                            <td>{{ medicine.stock }}</td>
                            <td>{{ medicine.price | currency : "EGP " }}</td>
                            <td>{{ medicine.expiry_date | date }}</td>
                            <td>
                                <button class="btn btn-outline-primary btn-sm" ng-click="editMedicine(medicine.id)"
                                    ng-if="currentUser.role === 'Admin'">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button class="btn btn-outline-danger btn-sm" ng-click="deleteMedicine(medicine.id)"
                                    ng-if="currentUser.role === 'Admin'"><i class="bi bi-trash"></i></button>
                                <button class="btn btn-outline-secondary btn-sm" ng-click="viewMedicine(medicine)">
                                    <i class="bi bi-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex align-items-center justify-content-end gap-1">


                    <button class="btn btn-light btn-sm" ng-click="goToPage(currentPage - 1)"
                        ng-disabled="currentPage === 1" style="width: 32px; height: 32px; padding: 0;">
                        <i class="bi bi-chevron-left" style="font-size: 12px;"></i>
                    </button>


                    <button ng-repeat="page in getPages()" ng-click="goToPage(page)" class="btn btn-sm"
                        ng-class="currentPage === page ? 'btn-primary' : 'btn-light'"
                        style="width: 32px; height: 32px; padding: 0; font-size: 13px;">
                        {{ page }}
                    </button>


                    <button class="btn btn-light btn-sm" ng-click="goToPage(currentPage + 1)"
                        ng-disabled="currentPage === totalPages()" style="width: 32px; height: 32px; padding: 0;">
                        <i class="bi bi-chevron-right" style="font-size: 12px;"></i>
                    </button>
                </div>
            </div>
            <p class="text-center text-secondary"
                ng-if="medicines.length === 0 || getPagedMedicines().length === 0 && !isLoading">No medicines found</p>
        </div>
    </div>


    <div ng-show="showModal"
        class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center"
        style="background: rgba(0,0,0,0.5); z-index: 1000;" ng-click="closeModal()">


        <div ng-click="$event.stopPropagation()" class="bg-white rounded-3 shadow-lg overflow-hidden"
            style="width: 520px; max-width: 90%;">


            <div class="d-flex align-items-center justify-content-between px-4 py-3 border-bottom">
                <div class="d-flex align-items-center gap-3">
                    <img ng-src="{{ selectedMedicine.image_url }}" class="rounded-2 border"
                        style="width: 40px; height: 40px; object-fit: contain;">
                    <div>
                        <div class="fw-bold fs-6">{{ selectedMedicine.name }}</div>
                        <div class="text-muted small">{{ selectedMedicine.scientific_name }}</div>
                    </div>
                </div>
                <button ng-click="closeModal()" class="btn btn-light btn-sm rounded-circle"
                    style="width:32px; height:32px;">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="p-4">
                <div class="row g-3">

                    <div class="col-6">
                        <div class="bg-light rounded-3 p-3">
                            <div class="text-muted text-uppercase fw-semibold mb-1" style="font-size: 11px;">Category
                            </div>
                            <div class="fw-semibold small text-capitalize">{{ selectedMedicine.category }}</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="bg-light rounded-3 p-3">
                            <div class="text-muted text-uppercase fw-semibold mb-1" style="font-size: 11px;">Dosage Form
                            </div>
                            <div class="fw-semibold small text-capitalize">{{ selectedMedicine.dosage_form }}</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="bg-light rounded-3 p-3">
                            <div class="text-muted text-uppercase fw-semibold mb-1" style="font-size: 11px;">Strength
                            </div>
                            <div class="fw-semibold small">{{ selectedMedicine.strength }}</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="bg-light rounded-3 p-3">
                            <div class="text-muted text-uppercase fw-semibold mb-1" style="font-size: 11px;">Unit Type
                            </div>
                            <div class="fw-semibold small text-capitalize">{{ selectedMedicine.unit_type }}</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="bg-light rounded-3 p-3">
                            <div class="text-muted text-uppercase fw-semibold mb-1" style="font-size: 11px;">Price</div>
                            <div class="fw-semibold small">{{ selectedMedicine.price | currency : "EGP " }}</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="bg-light rounded-3 p-3">
                            <div class="text-muted text-uppercase fw-semibold mb-1" style="font-size: 11px;">Stock</div>
                            <div class="fw-semibold small">{{ selectedMedicine.stock }} units</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="bg-light rounded-3 p-3">
                            <div class="text-muted text-uppercase fw-semibold mb-1" style="font-size: 11px;">Expiry Date
                            </div>
                            <div class="fw-semibold small">{{ selectedMedicine.expiry_date | date }}</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="bg-light rounded-3 p-3">
                            <div class="text-muted text-uppercase fw-semibold mb-1" style="font-size: 11px;">Status
                            </div>
                            <span class="badge rounded-pill px-3 py-1" ng-class="{
                            'bg-success':   getStatus(selectedMedicine) === 'In Stock',
                            'bg-warning':   getStatus(selectedMedicine) === 'Low Stock',
                            'bg-danger':    getStatus(selectedMedicine) === 'Out of Stock',
                            'bg-secondary': getStatus(selectedMedicine) === 'Expired'}">
                                {{ getStatus(selectedMedicine) }}
                            </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>